<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="76x76" href="../../Dashboard/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../../Dashboard/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport" />
    <title> SBMS - @ViewBag.Title </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../../Dashboard/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../../Dashboard/assets/demo/demo.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <style>
        .dropbtn {
            background-color: transparent;
            color: #6c757d;
            padding: 10px;
            font-size: 13px;
            border: none;
            width: 100%
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {background-color: #35637e;}
        .dropdown:hover .dropdown-content {display: block;}
        .dropdown:hover .dropbtn {background-color: #ddd;}
    </style>
   @RenderSection("MyStyles", false)
</head>

<body class="">
    <div class="wrapper ">
        <!--SideBar Start-->
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
            <div class="logo">
                <img src="../../Dashboard/assets/img/DNC.png" />
            </div>
            <!--SidePanel Start-->
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active">
                        <a id="home" class="nav-link" href="@Url.Action("Index", "Home")" style="background:  #35637e">
                            <i class="material-icons">dashboard</i>
                            <p>HOMEPAGE</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="category" class="nav-link" href="@Url.Action("Show", "Category")">
                            <i class="material-icons">category</i>
                            <p>CATEGORY</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="product" class="nav-link" href="@Url.Action("Show", "Product")">
                            <i class="material-icons">devices_other</i>
                            <p>PRODUCT</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="customer" class="nav-link" href="@Url.Action("Show", "Customer")">
                            <i class="material-icons">person</i>
                            <p>CUSTOMER</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="supplier" class="nav-link" href="@Url.Action("Show", "Supplier")">
                            <i class="material-icons">person</i>
                            <p>SUPPLIER</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="purchase" class="nav-link" href="@Url.Action("Add", "Purchase")">
                            <i class="material-icons">add_shopping_cart</i>
                            <p>PURCHASE</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="sales" class="nav-link" href="@Url.Action("Add", "Sales")">
                            <i class="material-icons">shopping_basket</i>
                            <p>SALES</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a id="stock" class="nav-link" href="@Url.Action("Index", "Stock")">
                            <i class="material-icons">view_list</i>
                            <p>STOCK</p>
                        </a>
                    </li>
                </ul>
                &nbsp; <div class="dropdown nav-link">
                    <button class="dropbtn ">
                        <i class="material-icons">assessment</i> &nbsp;&nbsp; REPORT
                    </button>
                    <div class="dropdown-content">
                        <a href="@Url.Action("Index", "PurchaseReport")">PURCHASE </a>
                        <a href="@Url.Action("Index", "SalesReport")">SALES </a>
                    </div>
                </div>
            </div>
            
            <!--SidePanel End-->
        </div>
        <!--SideBar End-->
        <div class="main-panel">
            <div class="container-fluid">
                <h2 style="text-align: center; margin-bottom: 2%; margin-top: 5%; font-weight: bold; letter-spacing: 1px; background-color: skyblue; color: white">Small Business Management System</h2>

                <div class="row">
                    <div class="col-md-12" style="margin-left: 20px; padding-right: 40px">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- Navbar -->

            <!-- End Navbar -->
           
            <footer class="footer">
                <b>Developers Info</b>
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/kiara.moon.3">
                                    Kiara Moon
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/fatema.beg.5">
                                    Fatema Akter
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/soncito.nirobota">
                                    Md. Abdur Rahman
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made with <i class="material-icons">favorite</i> by
                        <a href="#" target="_blank">Dot Net Coders</a> for a better web.
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="../../Dashboard/assets/js/core/jquery.min.js"></script>
    <script src="../../Dashboard/assets/js/core/popper.min.js"></script>
    <script src="../../Dashboard/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="../../Dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src="../../Dashboard/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="../../Dashboard/assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="../../Dashboard/assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="../../Dashboard/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="../../Dashboard/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../../Dashboard/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
    <script src="../../Dashboard/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="../../Dashboard/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="../../Dashboard/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="../../Dashboard/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="../../Dashboard/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="../../Dashboard/assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src="../../Dashboard/assets/js/plugins/arrive.min.js"></script>
    <!--  Google Maps Plugin    -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>*@
    <!-- Chartist JS -->
    <script src="../../Dashboard/assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../../Dashboard/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../../Dashboard/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <script src="../../Dashboard/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');
                $sidebar_img_container = $sidebar.find('.sidebar-background');
                $full_page = $('.full-page');
                $sidebar_responsive = $('body > .navbar-collapse');
                window_width = $(window).width();
                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }
                }
                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });
    </script>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();
    });
</script>
<script>
    $(document).on("click",
        "ul li",
        function() {
            $(this).addClass("active").siblings().removeClass("active");
            $("ul li a").css("background-color", "white");
            $("ol li a").css("background-color", "white");
            $("a", this).css("background-color", "#35637e");
            
        });
</script>

@RenderSection("MyScripts", false)
</body>
</html>