@model DotNetCoders.Models.SalesReportView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MyStyles
{
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background: darkslateblue;
            text-align: center;
            padding: 10px;
            color: azure;
        }

        td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
}

@using (Html.BeginForm("Index", "SalesReport", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            @Html.TextBox("startDate", null, htmlAttributes: new
       {
           @class = "form-control",
           @type = "date",
           @id = "startDate"
       })
        </div>
        <div class="col-md-3">
            @Html.TextBox("endDate", null, htmlAttributes: new
            {
                @class = "form-control",
                @type = "date",
                @id = "endDate"
            })
        </div>

        <div class="col-md-3">
            <input type="submit" value="submit" class="btn btn-info pull-left" style="background: #254558" />
        </div>
    </div>
}

<div class="row">
    <table>
        <tr>
            <th>Sl</th>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Sold Quantity</th>
            <th>Cost Price (TK) </th>
            <th>Sales Price (Tk)</th>
            <th>Profit (Tk)</th>

        </tr>
        @{ int sl = 0;}
        @foreach (var sales in ViewBag.Report)
        {
            <tr>
                <td>@(++sl)</td>
                <td>@sales.Code</td>
                <td>@sales.Product</td>
                <td>@sales.Category</td>
                <td>@sales.SoldQuantity</td>
                <td>@sales.CostPrice</td>
                <td>@sales.SalesPrice</td>
                <td>@sales.Profit</td>

            </tr>
        }
        <tr>
            @if (ViewBag.Message != null)
            {
                <td colspan="8" class="alert alert-warning" role="alert" style="width: 100%">


                    @ViewBag.Message


                </td>
            }
        </tr>
    </table>


</div>

